.SearchQueryListcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60vh;
  width: fit-content;
  padding: 1vh;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1vh;
}

.list {
  max-height: 90vh;
  overflow-y: auto;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
  border-bottom: 1px solid #ddd;
}

.listItem:last-child {
  border-bottom: none;
}

/* Scrollbar */
.list::-webkit-scrollbar {
  width: 8px;
  scrollbar-width: thin;
  scrollbar-color: #66d8ad transparent;
}

.list::-webkit-scrollbar-track {
  background: transparent;
}

.list::-webkit-scrollbar-thumb {
  background-color: #66d8ad; /* Your primary main color */
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: #55c39a; /* Darker shade on hover */
}
