.homeContainer {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: auto; /* Turn off native smooth scroll */
}

.firstpage,
.explanation {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.firstpage {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/homePicture.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.explanation {
  padding: 2rem;
  background-image: url("../assets/images/explanationpic.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; /* vertical center */
  justify-content: flex-end; /* align to the right */
}

.explanationPic img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* or 'cover' if you want it to fill the box */
}
.explanationText {
  padding: 1rem 1rem 0 1rem;
  color: white;
  font-size: 2rem;
  line-height: 1.6;
  max-width: 600px;
}

.tertiaryBold {
  color: #ff8403;
  font-weight: bold;
}

.simple {
  font-size: 8rem;
  font-weight: bold;
  color: #ff8403;
}

.headline {
  margin-top: 12vh;
  font-size: 10rem;
  color: #66d8ad;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
