.list {
  padding: 1vh;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
  border-bottom: 1px solid #ddd;
}
