.container {
    display: flex;
    flex-direction: column; /* Stacks the child elements vertically */
    align-items: center; /* Horizontally centers the child elements */
    justify-content: center; /* Vertically centers the child elements */
    height: 100vh;
  }
  
  .productList{
    width: 60vh;
  }

  .searchControls{
    width: 60vh;
  }