.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Make sure the parent fills the viewport */
}
.shoppingCart{
        width: 65vh;
        margin: 1vh;
}
.cartManagement{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    overflow: hidden;
    flex-shrink: 0;
}