.itemContainer{
    display: flex;
    width: 100%;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemQuantityContainer{
    display: flex;
    margin-left: auto;
}

.itemQuantity{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px 10px 15px;
    border: 1px solid gray
}