.shoppingCartContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 93vh;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden; /* Ensures text doesn’t break layout */
}
.itemContainer {
  cursor: "pointer";
}

.itemQuantityContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 0.25rem;
  font-size: 0.75rem; /* makes all text/buttons inside appear smaller */
}
.itemQuantityContainer button {
  min-width: unset; /* Remove minimum width */
  padding: 2px 0px; /* Tighter padding */
}
.listItem {
  cursor: "pointer";
  text-decoration: none;
  opacity: 1;
}
.hiddenListItem {
  cursor: "pointer";
  text-decoration: line-through;
  opacity: 0.5;
}
.clearDeleteButtons {
}
.noProducts {
  margin: 0 3px;
}
