* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.primary {
  background-color: #66d8ad;
  color: #0b2e1d;
}

.secondary {
  background-color: #ffa500;
  color: #2b2b2b;
}

.tertiary {
  background-color: #ff8403;
  color: #2b2b2b;
}

.appContainer {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vh;
}

.navbar {
}

.content {
  flex: 1;
}
a {
  cursor: pointer;
}
